* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
}

header {
  display: inline;
  position: relative;
  left: 13%;
  top: 3%;
}

h2 {
  display: inline;
}

.accent {
  display: flex;
  height: 100px;
  align-items: center;
  justify-content: center;
  font-size: 1.2em;
  position: relative;
  top: 6%;
}

.accent > input {
  margin-left: 20px;
  height: 3em;
}

.calculator {
  display: flex;
  align-items: center;
  flex-direction: column;
  position: relative;
  top: 10%;
}

.calculator input {
  width: 20vw;
  height: 4vh;
  margin-top: 20px;
}

#submit {
  border: 0;
  width: 100px;
  height: 40px;
  margin-left: 40px;
  border-radius: 4px;
}

.calculate {
  border: 0;
  border-radius: 4px;
  height: 4em;
  width: 10em;
}
